@page
@model CreateAlbumViewModel

<h1 class="display-4">@ViewData["PageTitle"]</h1>

<div class="container">
    <form method="post" asp-page-handler="MakeNewAlbum">
        <div class="form-group">
            <label for="albumTitle">Album Title</label>
            <input type="text" asp-for="NewAlbum.Title" class="form-control" id="albumTitle" placeholder="Album Title">
        </div>
        <div class="form-group">
            <label for="albumArtist">Album Artist</label>
            <select class="custom-select" name="NewAlbum.ArtistId" id="albumArtist">
                <option></option>
                @foreach (var artist in @Model.Artists)
                {
                    <option value="@artist.ArtistId">@artist.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="trackList">Track List</label>
            <table class="table table-responsive" id="dynamicTable">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
                @for (int i = 0; i < 1; i++)
                {
                    <tr id="row1">
                        <td>
                            @(i += 1)
                        </td>
                        <td>
                            <input class="form-control" type="text" name="trackList[]"/>
                        </td>
                    </tr>
                }
            </table>
            <button class="btn btn-primary" type="button" onclick="addNewRow()">Add Track</button>
        </div>
        <hr>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

<script>
function addNewRow() {
    var table = document.getElementById("dynamicTable");
    var rowCount = table.rows.length;
    var newRowId = "row" + rowCount;
    
    var newRow = table.insertRow(rowCount);
    newRow.id = newRowId;
    
    var cell1 = newRow.insertCell(0);
    var cell2 = newRow.insertCell(1);

    cell1.innerHTML = rowCount
    cell2.innerHTML = '<input class="form-control" type="text" name="trackList[]"/>';
}
</script>