@page
@using ChinookEntities
@model ChinookWeb.Pages.Albums.Details

@functions
{
    int _trackNumber = 1;

    static string TrackLengthInSeconds(Track track)
    {
        var timespan = TimeSpan.FromMilliseconds(track.Milliseconds);
        return string.Format("{0}:{1:00}",
            (int) timespan.TotalMinutes, // <== Note the casting to int.
            timespan.Seconds);
    }

    static double ConvertBytesToMegabytes(long bytes)
    {
        return (bytes / 1024f) / 1024f;
    }
}

<div class="fluid-container">
    <h2 class="font-italic">@Model.Album.Artist.Name - @Model.Album.Title</h2>
    <hr>
    <div class="row">
        <div class="col-4">
            <h4>Album Details</h4>
            <hr>
            <form>
                <div class="mb-3">
                    <label for="albumTitle">Album Title</label>
                    <input type="text" class="form-control" id="albumTitle" placeholder="Album Title" value="@Model.Album.Title" required>
                </div>
                <div class="mb-3">
                    <label for="albumArtist">Album Artist</label>
                    <input type="text" class="form-control" id="albumArtist" placeholder="Album Artist" value="@Model.Album.Artist.Name" required>
                </div>
                <div class="mb-3">
                    <label for="albumGenre">Album Genre</label>
                    <input type="text" class="form-control" id="albumGenre" placeholder="Genre" value="@Model.AlbumGenre" required>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <div class="btn-group align-bottom" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                            <button type="button" class="btn btn-outline-secondary text-primary">Save Changes</button>
                            <button type="button" class="btn btn-outline-secondary text-danger">Delete Album</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-8">
            <h4>Tracklist</h4>
            <hr>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Composer</th>
                    <th scope="col" class="text-right">Length</th>
                    <th scope="col" class="text-right">Size (MB)</th>
                    <th scope="col" class="text-right">Price</th>
                    <th scope="col" class="text-center">Edit</th>
                </tr>
                </thead>
                @foreach (var track in Model.Album.Tracks)
                {
                    <tr>
                        <td>@_trackNumber</td>
                        <td>@track.Name</td>
                        <td>@(track.Composer ?? "N/A")</td>
                        <td class="text-right">@TrackLengthInSeconds(track)</td>
                        <td class="text-right">@ConvertBytesToMegabytes(track.Bytes).ToString("0.00")</td>
                        <td class="text-right">£@track.UnitPrice</td>
                        <td class="text-right"><button class="btn btn-light" aria-label="Edit"><i class="bi bi-pencil-fill"></i></button></td>
                    </tr>
                    _trackNumber = _trackNumber + 1;
                }
            </table>
        </div>
    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>